# Git
.git
.gitignore
.github

# Docker
.dockerignore
Dockerfile
docker-compose.yml

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Logs
logs/
*.log

# Backups
backup/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo 